<div class="mt-4">
    <div class="row">

        {{#each courses}}
        <div class="col-sm-6 col-lg-3">
            <div class="card card-course-item" style="width: 18rem;">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="#" class="btn btn-primary">Mua Khoa Hoc</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>

<h1 class="mt-4 text-center">lenh truy na khan cap 3 anh em ho Buoi</h1>

<div class="container text-center">
    <div class="row">
        <div class="col mt-5">
            <p class="m-0 text-start">ho ten: <span
                    style="padding: 2px 3px; font-weight: bold;border-radius: 6px;background-color: #ffdf06;">buoi quoc
                    khanh</span></p>
            <p class="m-0 text-start">nam sinh: <span
                    style="padding: 2px 3px; font-weight: bold;border-radius: 6px;background-color: #41a6ce;">1984</span>
            </p>
            <p class="m-0 text-start mb-3">toi danh:
                <span
                    style="padding: 0px 3px; font-weight: bold;border-radius: 6px;background-color: #f25d5e; color: #fff">ma
                    tuy,</span>
                <span
                    style="padding: 0px 3px; font-weight: bold;border-radius: 6px;background-color: #f25d5e; color: #fff">hiep
                    dam,</span>
                <span
                    style="padding: 0px 3px; font-weight: bold;border-radius: 6px;background-color: #f25d5e; color: #fff">cuop
                    tai san.</span>
            </p>
            <img style="width: 342px; height" src="/img/khanhngu.jpeg" alt="khanh ngu">
        </div>
        <div class="col mt-5">
            <p class="m-0 pl-1 text-start">ho ten: <span
                    style="padding: 2px 3px; font-weight: bold;border-radius: 6px;background-color: #ffdf06;">buoi hoang
                    phuc</span></p>
            <p class="m-0 text-start">nam sinh: <span
                    style="padding: 2px 3px; font-weight: bold;border-radius: 6px;background-color: #41a6ce;">1949</span>
            </p>
            <p class="m-0 text-start mb-3">toi danh:
                <span
                    style="padding: 0px 3px; font-weight: bold;border-radius: 6px;background-color: #f25d5e; color: #fff">hiep
                    dam,</span>
                <span
                    style="padding: 0px 3px; font-weight: bold;border-radius: 6px;background-color: #f25d5e; color: #fff">cuop
                    tai san,</span>
                <span
                    style="padding: 0px 3px; font-weight: bold;border-radius: 6px;background-color: #f25d5e; color: #fff">ma
                    tuy.</span>
            </p>
            <img style="width: 342px;" src="/img/phucngu.jpeg" alt="phuc ngu">
        </div>
        <div class="col mt-5">
            <p class="m-0 text-start">ho ten: <span
                    style="padding: 2px 3px; font-weight: bold;border-radius: 6px;background-color: #ffdf06;">buoi manh
                    vu</span></p>
            <p class="m-0 text-start">nam sinh: <span
                    style="padding: 2px 3px; font-weight: bold;border-radius: 6px;background-color: #41a6ce;">1953</span>
            </p>
            <p class="m-0 text-start mb-3">toi danh:
                <span
                    style="padding: 0px 3px; font-weight: bold;border-radius: 6px;background-color: #f25d5e; color: #fff">cuop
                    tai san,</span>
                <span
                    style="padding: 0px 3px; font-weight: bold;border-radius: 6px;background-color: #f25d5e; color: #fff">ma
                    tuy,</span>
                <span
                    style="padding: 0px 3px; font-weight: bold;border-radius: 6px;background-color: #f25d5e; color: #fff">hiep
                    dam.</span>
            </p>
            <img style="width: 342px;" src="/img/fuckingbi.jpeg" alt="fucking bi">
        </div>
    </div>
</div>